@font-face {
    font-family: TTNorms;
    font-weight: 400;
    src: url(../fonts/TTNorms-Regular.woff2);
}

@font-face {
    font-family: TTNorms;
    font-weight: 500;
    src: url(../fonts/TTNorms-Medium.woff2);
}

@font-face {
    font-family: TTNorms;
    font-weight: 700;
    src: url(../fonts/TTNorms-Bold.woff2);
}